<div class="page-header" data-parallax="true" style="background-image: url('/images/iphone.jpg');">
  <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1 class="presentation-title">Stack</h1>
            <h2 class="presentation-subtitle text-center">Start Studying Smarter</h2>
            <br />
            <%  if (currentUser) { %>
              <a href="/dashboard/home" class="btn btn-outline-neutral btn-round">Dashboard</a>
            <%} else {%>
              <a href="/signup" class="btn btn-outline-neutral btn-round">Sign Up</a>
              <a href="/login" class="btn btn-outline-neutral btn-round">Log In</a>
            <% } %>
        </div>
    </div>
  </div>
    <div class="main">
  <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h2 class="title">Backed by Science</h2>
                    <h5 class="description">Stack uses the SuperMemo algorithm and spaced repetition learning techniques to boost your memory and help you retain information, indefinitely.</h5>
                    <br>
                </div>
            </div>
    <br/><br/>
    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <i class="nc-icon nc-time-alarm"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Remember Forever</h4>
            <p class="description">Get automatic reminders to relearn concepts before you forget.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <i class="nc-icon nc-cloud-upload-94"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Share and Collaborate</h4>
            <p>Study stacks created by your network and share your own.</p>
          </div>
        </div>
      </div>
    </div>
    <br />
      <a href="/signup" class="btn btn-danger btn-round">Create Your Account</a>
        </div>
    </div>

<div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Created by Ryan Wang</h2>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="/images/faces/headshot.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Ryan Wang</h4>
                                    <h6 class="card-category">Web Developer</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                            I'm currently enrolled in Ironhack's full-time Web Development Bootcamp, building 3 independent web applications using Javascript, Angular 2, and other technologies.
                            <br />
                            <br />
                            Find me on GitHub or LinkedIn
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="http://ryancommits.com/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-share-alt"></i></a>
                            <a href="https://github.com/RyanCommits/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/ryancommits/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                  </div>
                </div>
                </div>
            </div>


            </div>
        </div>
    </div>
