<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">New Stack</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Stack Name</label>
                                        <input type="text" class="form-control border-input" placeholder="New Stack">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
